<head>
    <link rel="stylesheet" href="/css/adminlogin.css">
</head>

<h1>
    Register Here
</h1>
<form action="/admin/register" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Your Username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Your Password">
    </div>
    <input type="submit" value="Register"></input>
</form>


<h1>
    Login 
</h1>
<form action="/admin/login" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Your Username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Your Password">
    </div>
    <input type="submit" value="Login"></input>
</form>