 <!-- ----------footer ---------------------->
 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4><span style="color: #007AFF;">ACCU </span>DESIGN</h4>

                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Our Services</a></li>
                    <li><a href="">Blogs</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Services</h4>
                <ul>
                    <li><a href="">Machining</a></li>
                    <li><a href="">Laser Cutting</a></li>
                    <li><a href="">Fabrication</a></li>
                    <li><a href="">3D printing</a></li>
                    <li><a href="">Casting</a></li>
                    <li><a href="">Gear Malfunctioning</a></li>
                    <li><a href="">Bending</a></li>
                    <li><a href="">Wire Cutting</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li><a href="https://maps.app.goo.gl/TdVCnvpmeFAvt345A">Shop No. 30/15, unity industrial
                            estate, Saidham Road, Dhayari, Pune, Maharashtra 411041<a></li>
                    <li><a href="projects@accudesign.in">projects@accudesign.in<a></li>
                    <li><a href="tel:+91-9821679475 / +91-9579314891">+91-9821679475 / +91-9579314891</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <div class="subscribe-us">
                        <h4>Subscribe Us</h4>
                        <form id="contactForm" action="https://api.web3forms.com/submit" method="POST"
                            class="input">
                            <input type="email" id="email" name="email" placeholder="    Write to us...">
                            <button type="submit"> <i class="fa-solid fa-angles-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>